@font-face {
    font-family: lcd;
    src: url('resources/lcd.ttf');
}

body {
    height: 100%;
    padding: 10px;
    background-image: url(resources/black-scanline-theme.jpg);
}

/* ////////////////  THEME CONTROLLED VARIABLES //////////////////////////////////////////////////////////////////// */
/* Theme guide
Dark (default) = Scanline body, rgb(100,100,100) text and borders, skull centre image
High contrast = Static body, rgb(255,255,255) text and borders, skull centre image
Arasaka = rgb(0,0,0) body, rgb(255,0,0) text and borders, arasaka logo centre image
White = rgb(210,210,210) body, rgb(0,0,0) text and borders. Voodoo boys centre logo
BSOD = #0827F5 body (Miscrosoft BSOD color), rgb (255,255,255) text and borders
Yellow = rgb(243, 230, 0) body (cyberpunk 2077 yellow), rgb(0,0,0) text and borders, david martinez logo
*/



.body-dark {
   
    
}

.body-high {
    background-image: url(resources/black-static-theme.jpg);
    color: white;
    border-color: white;
}

.body-arasaka {
    background-color: rgb(0, 0, 0);
    color: red;
    border-color: red;

}

body.white {
    background-color: rgb(210, 210, 210);
    color: black;
    border-color: black;
}

.body-yellow {
    background-color: rgb(255, 230, 0);
    color: black;
    border-color: black;
   
}

.body-blue {
    background-color: #0827F5; 
    color: white;
    border-color: white;
}

 
p,
li,
textarea,
input,
h1,
h2,
span,
footer,
header,
.borders {
    color: rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
   
}
/* DARK LOW CONTRAST THEME (DEFAULT)*/
.p-dark,
.li-dark,
.textarea-dark,
.input-dark,
.h1-dark,
.h2-dark,
.button-dark,
.span-dark,
.footer-dark,
.header-dark,
.borders-dark {
    color: rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
}

.centre-box-skull { 
    background-image: url(resources/centre-logo_skull-on-black_v2.png);
    opacity:25%
}

.centre-box-skull2 { 
    background-image: url(resources/centre-logo_skull-on-black_v2.png);
}

.centre-box-arasaka {
    background-image: url(resources/centre-logo_arasaka_v2.png);
}

.centre-box-skull3 { 
    background-image: url(resources/centre-logo_skull-on-white.png);
}

.centre-box-yellow {
    background-image: url(resources/centre-logo_david-martinez.png);
}

/*White text and borders*/
.p-white,
.li-white,
.textarea-white,
.input-white,
.h1-white,
.h2-white,
.button-white,
.span-white,
.footer-white,
.header-white,
.borders-white {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

/*Red text and borders*/
.p-red,
.li-red,
.textarea-red,
.input-red,
.h1-red,
.h2-red,
.button-red,
.span-red,
.footer-red,
.header-red,
.borders-red {
   
}

/*Black text and borders*/

.p-black,
.li-black,
.textarea-black,
.input-black,
.h1-black,
.h2-black,
.button-black,
.span-black,
.footer-black,
.header-black,
.borders-black {
    
}
/* ///////////////////////////////////////////////  FONT CONTROL //////////////////////////////////////////////////////////////////// */
p,
li,
textarea,
input {
    font-family: monospace;
}

h1,
h2,
.button,
span,
footer,
header {
    font-family: lcd;

}

h1 {
    font-size: 44pt;
    font-family: lcd;
    font-style: italic;
}

h2,
.button {
    font-size: 18pt;
    text-decoration: underline;

}

li {
    margin-left: 2%;
}

/* ///////////////////////////////////////////////  CONTAINER CONTROL //////////////////////////////////////////////////////////////////// */

.box,
header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,
footer {
    flex-wrap: wrap;
    margin: 10%;
}



.left-panel,
.centre-panel,
.right-panel {
    height: 82vh;
}

.centre-panel {
    flex-grow: 2;

}

.left-panel,
.right-panel {
    flex-grow: 1;
    max-width: 26%;
    min-width: 26%;
    text-align: justify;
}

.right-panel {
    justify-content: flex-end;

}

.scroll {
    max-height: 90%;
    padding: 2%;
    overflow-y: auto;
}

.input-box {
    text-align: center;


}

.uname {
    flex-grow: 1;
}

.user-input {
    flex-grow: 5;
    align-items: center;
}

input {
    width: 100%;
    background:none;
    font-weight: bold;

}

textarea {
    width: 100%;
    background: none;

}

footer {
    display: flex;

}

/* ///////////////////////////////////////////////  IMAGE CONTROL //////////////////////////////////////////////////////////////////// */
.img {
    width: fit-content;
    opacity: 33%;
}

.invert-img {
    filter: invert(100%);
}


.qr {
    height: 70%;
    width: 70%;
}

/* ///////////////////////////////////////////////  BORDER CONTROL //////////////////////////////////////////////////////////////////// */
.borders {
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}


hr {
    border: 4px solid white;
}

/* ///////////////////////////////////////////////  INTERACTABLE ELEMENTS I.E. BUTTONS //////////////////////////////////////////////////////////////////// */
.button {
    background: none;
    width: 100%;
}

.music-embed {
    opacity:33%;
}

/* ///////////////////////////////////////////////  BIG BOY BOX //////////////////////////////////////////////////////////////////// */

.centre-box {
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 30px;
    font-size: 14pt;
    height: 90%;
    object-fit: cover;
}

/* ///////////////////////////////////////////////  HOVERS AND ACTIVES //////////////////////////////////////////////////////////////////// */


/* general panel highlights*/
.left-panel:hover,
.centre-box:hover,
.input:hover,
.right-panel:hover {
    background-color: rgba(255, 255, 255, .1);
}

/* general inter-panel element highlights*/
.button:hover,
li:hover,
input:hover {
    background-color: rgba(255, 255, 255, .2);
}

/* general inter-panel element activation highlights*/
.button:active,
li:active {
    background-color: rgba(255, 255, 255, 0.45);
}

.music-embed:hover {
    opacity: 70%;
}