@font-face {
    font-family: lcd;
    src: url('resources/lcd.ttf');
}

.dark-theme {
    background-image: url(resources/black-scanline-theme.jpg);
    height: 100%;
}

.light-theme {
    background-color: rgb(210,210,);
    height: 100%;
}

/* ///////////////////////////////////////////////  FONT CONTROL //////////////////////////////////////////////////////////////////// */
p,
li,
textarea {
    font-family: monospace;
    color: rgb(100, 100, 100);
}

h1,
h2,
.button,
span,
footer,
header {
    font-family: lcd;
    color: rgb(100, 100, 100);
}

h1 {
    font-size: 44pt;
    font-family: lcd;
    font-style: italic;
}

h2,
.button {
    font-size: 18pt;
    text-decoration: underline;

}

li {
    margin-left: 2%;
}

/* ///////////////////////////////////////////////  CONTAINER CONTROL //////////////////////////////////////////////////////////////////// */

.box,
header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,
footer {
    flex-wrap: wrap;
}



.left-panel,
.centre-panel,
.right-panel {
    height: 83vh;
}

.centre-panel {
    flex-grow: 2;
}

.left-panel,
.right-panel {
    flex-grow: 1;
    max-width: 26%;
    min-width: 26%;
    text-align: justify;
}

.right-panel {
    justify-content: flex-end;

}

.scroll {
    max-height: 90%;
    padding: 2%;
    overflow-y: auto;
}

.input-box {
    text-align: center;


}

.uname {
    flex-grow: 1;
}

.input {
    flex-grow: 5;
}

input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #646464;
    font-family: lcd;
    border: rgb(120, 120, 120);
    border-style: solid;
}

textarea {
    width: 100%;
    background:none;

}

footer {
    display: flex;

}

/* ///////////////////////////////////////////////  IMAGE CONTROL //////////////////////////////////////////////////////////////////// */
.img {
    width: fit-content;
    opacity: 33%;
}

.qr {
    height: 70%;
    width: 70%;

}

/* ///////////////////////////////////////////////  BORDER CONTROL //////////////////////////////////////////////////////////////////// */
.borders {
    border-color: rgb(50, 50, 50);
    border-style: solid;
    border-radius: 1px;
    padding: 10px;
    margin: 3px;
}

.borders-white {
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 1px;
    padding: 10px;
    margin: 3px;
}

hr {
    border: 2px solid white;
}

/* ///////////////////////////////////////////////  INTERACTABLE ELEMENTS I.E. BUTTONS //////////////////////////////////////////////////////////////////// */
.button {
    background: none;
    width: 100%;
}


/* ///////////////////////////////////////////////  BIG BOY BOX //////////////////////////////////////////////////////////////////// */

.skull-box {
    background-image: url(resources/centre-logo_skull-on-black.png);
    background-position: 50%;
    background-repeat: no-repeat;

    height: 72vh;
}

/* ///////////////////////////////////////////////  HOVERS AND ACTIVES //////////////////////////////////////////////////////////////////// */


/* general panel highlights*/
header:hover,
.left-panel:hover,
.skull-box:hover,
.input:hover,
.right-panel:hover,
footer:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* general inter-panel element highlights*/
.button:hover,
li:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/* general inter-panel element activation highlights*/
.button:active,
li:active {
    background-color: rgba(255, 255, 255, 0.45);
}